############
## PhoneGap
############

.cordova/
config/
hooks/
merges/
platforms/
plugins/
test/

############
## Netbeans
############

nbproject/

############
## Custom
############

www/res/
www/spec
www/icon.png
spec.html