<!DOCTYPE html>
<html lang="en" ng-app="exampleApp">

<head>

	<meta charset="utf-8">

	<title>JavaScript AngularJS REST/JSON client with OAuth2 and Bootstrap UI</title>

	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
	<script type="text/javascript" src="js/service/HttpClient.js"></script>
	<script type="text/javascript" src="js/main.js"></script>

</head>

<body ng-controller="SampleAPIController as sampleAPI">
	
	<div class="container">
		<h1>AngularJS client</h1>

		<h3>Post location</h3>

		<form ng-submit="sampleAPI.postLocation()">
			<input type="number" ng-model="sampleAPI.postLatitude" placeholder="Latitude" class="form-group form-control" required>
			<input type="number" ng-model="sampleAPI.postLongitude" placeholder="Longitude" class="form-group form-control" required>
			<input type="number" ng-model="sampleAPI.postAltitude" placeholder="Altitude" class="form-group form-control" required>
			<input type="submit" value=" Post location" class="btn btn-success glyphicon glyphicon-ok">
		</form>

		<p>Result: {{sampleAPI.postLocationResult}}</p>

		<hr>

		<h3>Get locations</h3>

		<button ng-click="sampleAPI.getLocations()" class="btn btn-primary glyphicon glyphicon-refresh"> Get locations</button>

		<p>Result: {{sampleAPI.getLocationsResult}}</p>
		<ul>  
			<li ng-repeat="location in sampleAPI.locations">{{location.latitude}}, {{location.longitude}}, {{location.altitude}}</li>
		</ul>
	</div>

</body>

</html>
